
@{
    ViewBag.Title = "contacto";
}

<h2>Contacto</h2><br>

Nombre: @ViewBag.nombre <br><br>
Apellido:  @ViewBag.apellido <br><br>
E-mail: @ViewBag.mail <br><br> 
Teléfono: @ViewBag.telefono <br><br> 
País: @ViewBag.pais <br >