
@{
    ViewBag.Title = "reporte_finanzas";
}

<h2>reporte_finanzas</h2>

Nombre:    @ViewBag.nombre <br>
Apellidos: @ViewBag.apellidos<br>
Pasaporte/CI: @ViewBag.pasaporte<br>
Precio:    @ViewBag.precio<br>
Iva:       @ViewBag.iva<br>
G.extras:  @ViewBag.gastosextras<br>
Pago:      @ViewBag.pago<br>
Tarjeta:   @ViewBag.tarjeta<br />